<h2>Bitweets</h2>
<div id="bitweet-newsfeed">
  <app-bitweet-creation></app-bitweet-creation>

  <div class="bitweet" *ngFor="let bitweet of bitweets">
    {{bitweet.message}}
    <div>
      {{bitweet.nbVotes}}
      <button (click)="upVote(bitweet)">UpVote</button>
      <button (click)="downVote(bitweet)">DownVote</button>
    </div>
    <app-bitweet-comment-creation [bitweetId]="bitweet.id"></app-bitweet-comment-creation>

    <div class="comment" *ngFor="let comment of bitweet.comments">
      {{comment.message}}
    </div>
  </div>
</div>
