<div class="bitweet" *ngFor="let bitweet of bitweets">
  <a routerLink="/user/{{bitweet.idUser}}">
    <strong>{{bitweet.username}}</strong>
  </a>
  <br/>
  <br/>
  {{bitweet.message}}
  <br/>
  <hr/>
  <div>
    <em>{{bitweet.nbVotes}}</em>
    <button id="upvote" (click)="upVote(bitweet)">Upvote</button>
    <button id="downvote" (click)="downVote(bitweet)">Downvote</button>
  </div>
  <div class="comments">
    <app-bitweet-comment-creation [bitweetId]="bitweet.id"></app-bitweet-comment-creation>

    <div class="comment" *ngFor="let comment of bitweet.comments">
      <a routerLink="/user/{{bitweet.idUser}}">
        <strong>{{comment.username}}</strong>
      </a>
      <div class="commentMessage">
        {{comment.message}}
      </div>
    </div>
  </div>
</div>
