#bitweet-list{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

#upvote{
  background-image: url(./upvote.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
}

#downvote{
  background-image: url(./downvote.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;   
}

.bitweet{
  background-color: white;
  margin-top: 5%;
  padding: 1%;
  box-shadow: 0px 1px 1px grey;
}

.bitweet a{
  color: #000000;
}

.bitweet:hover{
  box-shadow: 0px 3px 1px grey;
}

.comments{
  background-color: #E0E0E0;
}

.commentMessage{
  background-color: #FFD180;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
