<div class="bitweet" *ngFor="let bitweet of bitweets">
  <a routerLink="/user/{{bitweet.idUser}}">
    <strong>{{bitweet.username}}</strong>
  </a>
  <br/>
  <br/>
  {{bitweet.message}}
  <br/>
  <br/>
  <div>
    {{bitweet.nbVotes}}
    <button (click)="upVote(bitweet)">UpVote</button>
    <button (click)="downVote(bitweet)">DownVote</button>
  </div>
  <div class="comments">
    <app-bitweet-comment-creation [bitweetId]="bitweet.id"></app-bitweet-comment-creation>

    <div class="comment" *ngFor="let comment of bitweet.comments">
      <strong>{{comment.username}}</strong>
      <div class="commentMessage">
        {{comment.message}}
      </div>
    </div>
  </div>
</div>
