<!-- Top header -->
<div>
  <app-navigation-bar></app-navigation-bar>
  <div class="col-md-12">

  </div>
  <!-- Left : channels list -->
  <div id="left-content" class="col-md-3">
    <app-channel-list></app-channel-list>
  </div>

  <!-- Center : bitweets list -->
  <div id="center-content" class="col-md-6">
    <app-bitweet-newsfeed></app-bitweet-newsfeed>
  </div>

  <!-- Right : others -->
  <div id="right-content" class="col-md-3">
    <p></p><br/><br/><br/><br/><br/><br/>
  </div>
</div>
