<!-- Top header -->
<div id="home-content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="#">Bitcorner</a>
      </div>
      <div class="navbar-header navbar-right">
        <ul>
          <li>Welcome {{currentUsername}} !</li>
          <li><button type="button" class="btn btn-default navbar-btn">Sign in</button></li>
          <li><p><a [routerLink]="['/login']">Logout</a></p></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-md-12">


  </div>
  <!-- Left : channels list -->
  <div id="left-content" class="col-md-3">
    <app-channel-list></app-channel-list>
  </div>

  <!-- Center : bitweets list -->
  <div id="center-content" class="col-md-6">
    <app-bitweet-newsfeed></app-bitweet-newsfeed>
  </div>

  <!-- Right : others -->
  <div id="right-content" class="col-md-3">
    <p>WWWWWWWWWWWW</p><br/><br/><br/><br/><br/><br/>
  </div>
</div>
