<!-- Top header -->
<div>
  <app-navigation-bar></app-navigation-bar>

  <div id="website-body" class="col-md-12">
    <!-- Left : channels list -->
    <div id="left-content" class="col-xd-12 col-md-3">
      <app-channel-list></app-channel-list>
    </div>

    <!-- Center : bitweets list -->
    <div id="center-content" class="col-xd-12 col-md-6 col-md-offset-3">
      <app-bitweet-newsfeed></app-bitweet-newsfeed>
    </div>

    <!-- Right : others -->
    <div id="right-content" class="col-xd-12 col-md-3">
      <img id="btc-chart" src="../../assets/image/btcchart.png" alt="">
    </div>
  </div>

</div>
