#home-content{
  /*margin-left: 15%;
  margin-right: 15%;
  background-color: blue;*/
  margin: auto;
}

#left-content{
  /*display: inline-block;*/
  background-color: #E0E0E0;
  float: left;
  margin-bottom: 20px;
}

#center-content{
  /*display: inline-block;
  background-color: lightgreen;*/
}

#right-content{
  /*float: right;
  background-color: lightcoral;*/
  display: inline-block;
}

.navbar ul{
  margin: 0vw;
}

.navbar li{
  display: inline-block;
  margin-right: 10px;
}
